<span class="flags">
  <a class="flag" href="https://improbable-info.github.io/en/"><img src="/cz/assets/img/en.jpg" alt="en"></a>
  <a class="flag" href="https://improbable-info.github.io/pl/"><img src="/cz/assets/img/pl.jpg" alt="pl"></a>
</span>

<h1 class="project-name"><a href="/cz/">{{ site.title | default: site.github.repository_name }}</a></h1>
<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

<a href="/cz/autor" class="btn">O autorovi</a>
<a href="/cz/prawdopodobnie" class="btn">Pravděpodobně všechno je jinak</a>
<a href="/cz/czasoprzestrzen" class="btn">Krátké pojednání o prostoročasu</a>
<a href="/cz/dodatki" class="btn">Dodatečné informace, kontakt</a>
