<span class="flags">
  <a class="flag" href="https://pl.improbable.info/"><img src="/assets/img/pl.jpg" alt="pl"></a>
</span>

<h1 class="project-name"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

<a href="/autor" class="btn">O autorovi</a>
<a href="/prawdopodobnie" class="btn">Pravděpodobně všechno je jinak</a>
<a href="/czasoprzestrzen" class="btn">Krátké pojednání o prostoročasu</a>
<a href="/dodatki" class="btn">Dodatečné informace, kontakt</a>
